@page "/"
 
@inherits CastVoteBase

<PageTitle>Cast your vote</PageTitle> 
<div class="container mt-4 small-font">
    <h4>Welcome to Mock Voting App</h4>
    <div class="row">
        <div class="col-lg-6 overflow-auto oi-resize-height='300px'">
            <span class="medium-font">Voters List</span>
            <Voter @ref="VotersRef" VoterList="@VoterList" OnItemAdded="@RefreshVoteForChoiceDropDowns"></Voter>
        </div>
        <div class="col-lg-6">
            <span class="medium-font">Candidates List</span>
            <Candidates @ref="CandidatesRef" CandidateList="@CandidateList" OnItemAdded="@RefreshVoteForChoiceDropDowns"></Candidates>
        </div>      
    </div>
    <div class="row mt-4">      
        <div class="col-lg-12">
            <span class="medium-font">Vote!</span>
            <VoteForChoice @ref="voteForChoiceRef" RefrehVoteCount="@RefreshCandidateVotes"></VoteForChoice>
        </div>
    </div>
</div>
